header{
    max-width: 100vw;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.headerWrap{
    padding: 1.25vw 6.25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.m_display{
    display: none;
}

.headerContentList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5vw;
    background-blend-mode: difference;
}

.headerContentList li{
    color: #fff;
    font-size: 0.83vw;
    font-weight: 500;
    line-height: 1.25vw;
    background-blend-mode: difference;
}

.headerIconWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.83vw;
}

footer{
    max-width: 100vw;
    width: 100%;
}
footer img{
    width: 100%;
}

/* mobile */
@media (max-width: 768px ){
    header{
        max-width: 100vw;
        width: 100%;
        /* height: 12.8vw; */
        position: fixed;
        background-color: #fff;
    }
    .m_display{
        display: block;
    }
    .p_display{
        display: none;
    }
    .headerContentList{
        display: none;
    }
    .headerWrap{
        padding: 3.2vw 5.3vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .headerWrap img.head_logo{
        width: 22.93vw;
    }
    .headerIconWrap img{
        width: 6.4vw;
    }
    .headerIconWrap img:nth-child(1){
        margin-right: 3.2vw;
    }
}