/* .ibm-plex-sans-kr-regular {
    font-family: "IBM Plex Sans KR", serif;
    font-weight: 400;
    font-style: normal;
  } */


main{
    width: 100%;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.mainIndex-1{
    width: auto;
    height: 300vh;
    position: relative;
}

.mainSection_1{
    width: 100%;
    height: 200vh;
    background-image: url("../asset/background/MainSectionFull.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.mainSection_2{
    width: 100%;
    height: 100vh;
    background-image: url("../asset/background/MainSectionBottom.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.mainSectionContent_1{
    height: 200vh;
}



.mainSectionContent_2 h2{
    font-family: "IBM Plex Sans KR", serif;
    font-weight: 700;
    font-size: 4.16vw;
    line-height: 4.7vw ;
    color: #fff;
    margin-bottom: 2.08vw;
}
.mainSectionContent_2 p{
    font-family: "Pretendard Variable";
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 1.6vw;
    color: #fff;
    text-align: center;
}
.mainSectionTextImg{
    object-fit: contain;
    width: 50vw;
    margin: 0 auto 0 auto;
}
.mainSectionBtnWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.16vw 4.16vw 6.25vw;
}


.mainIndex_w{
    background-color: #fff;
}
.mainIndex-2{

    height: 170.66vw;
    display: flex;
    flex-shrink: 1;
    gap: 2.08vw;
    padding-bottom :15.36vw;
}
.mainIndex-2 .mainIndexLeft img{
    width: 50vw;
    position: sticky;
    top:0;
}

.mainIndex-2 .mainIndexRight{
    height: 150vw;
}
.mainIndexRight_btnWrap {
    width: 100%;
    margin-top: 4.16vw;
    position: relative;
}
.mainIndex-2 .mainIndexRight button{
    font-family: "Pretendard Variable";
    font-weight: 500;
    font-size: 1.25vw;
    line-height: 1.6vw;
    border: 1px solid #121212;
    padding: 0.41vw 1.04vw;
    position: absolute;
    left: 50%; transform: translate(-50%, -50%);
}
.mainIndexRightTab {
    width: 45.83vw;
    padding: 6.25vw 5px 1.45vw 5px;
    background: #fff;
    position: sticky;
    top: 0;
}
.mainIndex-2 .mainIndexRight_imgWrap{
    padding: 2px;
}
.mainIndex-2 .mainIndexRight_imgWrap img{
    width: 45vw;
}

.mainIndex_BgText{
    width: 100%;
    height: 25.67vw;
    position: absolute;
    background-image: url("../asset/background/AllNewHallym.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.mainIndex-3{
    padding: 16vw 0 ;
}
.mainIndex-3 h2 span{
    font-family: "Pretendard Variable";
    font-size: 3.33vw;
    font-weight: 700;
    line-height: 3.75vw;
    background: linear-gradient(to right top, #1C72F2, #10CEC5);
    color: transparent;
    background-clip: text;
}
.mainIndex-3 h2 {
    font-family: "Pretendard Variable";
    font-size: 3.33vw;
    font-weight: 700;
    line-height: 3.75vw;
    color: #121212;
    text-align: center; 
    margin-bottom: 4.16vw; 
}

.mainIndex_CarouselWrap_top{
    width: 100%;
    height: 20.31vw;

}
.mainIndex_CarouselWrap_bottom{
    margin-top: 7.8vw;
    width: 100%;
    height: 29.68vw;

}

.mainIndex-4, .mainIndex-5{
    height: 100vh;
    position: relative;
}
.mainIndex_VideoWrap{
    position: relative;
}
.mainIndex_VideoWrap img{
    position: absolute;
    width: 26vw;
    top: 24vw;
    right: 2.08vw;
}
.mainIndex_VideoWrap .mainIndex_Video{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover ;
}

.mainIndex-6{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 6.14vw;
    padding: 7.8vw 6.25vw 2vw 6.25vw;
    width: 100%;
    height: auto;
    background-image: url("../asset/MainIndex/sns_section_bg.png");
    background-repeat:repeat;
    background-size: cover;

}
.mainIndex_snsNav{
    width: 15.9vw;
    position: sticky;
    top: 7.8vw;
}

.snsFlex_ColumnWrap{
    display: flex;
    flex-direction: row;
    gap: 2.8vw;
    margin-bottom: 7.8vw;
}
.snsFlex_RowWrap{
    display:flex;
    flex-direction: column;
    gap: 2.8vw;

}
.snsFlex_RowWrap img{
    width:20.41vw;
}

.gridItem_mt_40{
    padding-top: 2.98vw;
}
.gridItem_mt_160{
    margin-top: 8.33vw;
}