
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Noto+Sans+KR:wght@100..900&family=Viga&display=swap');
/* .noto-sans-<uniquifier> {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */
.m_display{
    display: none;
}
.img_hover{
    transition-duration: 0.5s;
}
.img_hover:hover{
    transform: scale(1.2, 1.2); transition-duration: 0.5s;
}


/* -----------------------------------------------------------  */
main{
    width: 100%;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    transition: transform 0.8s ease-in-out;
    /* overflow-x: hidden; */
    /* sticky 적용하려면 오버플로우 없어야함 */
}
.mainIndex-1{
    background-color: #000;
    
}
.mainIndex-w{
    background-color: #fff;
    z-index:3;
}
@keyframes scale-up {
    0%{    transform: scale(0.3);}
    100%{     transform: scale(1); }
}

.bg_video{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;

    transform: scale(0.3);
    animation: scale-up 1s 1 1.5s ease-in-out forwards;
    filter:brightness(40%)
}
.bg_video video{
    position: absolute;
    width: 100%;
}

.sticky-container{
    transform-origin: center;
}
.horizon_list{
    /* transform: translateX(20px); */
    transition: all 0.6s ease-out, transform 0.6s ease-out ;
    overflow: hidden;

}

.horizon_list.active{
    transform: translateY(0);
}
.horizon_list:nth-child(1) h1{
    font-family: "Viga", serif;
    font-size: 12.91vw;
    font-weight: 400;
    line-height: 17.23vw;
    letter-spacing: -0.02em;
    text-align: left;
    color: #fff;
}

.horizon_list:nth-child(2) h1{
    font-family: IBM Plex Sans KR;
    font-size: 11.45vw;
    font-weight: 700;
    line-height: 17.18vw;
    letter-spacing: -0.02em;
    text-align: left;
    color: #fff;

}

@keyframes allnewText {
    0%{ transform: translateY(-100px); clip-path : inset(0% 0% 100% 0%); opacity: 0;}
    50%{ opacity : 0;}
    100%{  transform: translateY(0);  clip-path : inset(0% 0% 0% 0%); opacity: 1;  }
}

.allnew{
    opacity: 0;
}

/* all new hallym */
.allnew:nth-child(1){
    transition: all 2.1s ease-in-out;
    transform: translateX(0);
    animation : allnewText 1.3s 1 2s forwards;
}
.allnew:nth-child(2){
    transition: all 2.1s ease-in-out;
    transform: translateX(0);
    animation : allnewText 1.3s 1 2.1s forwards;
}
.allnew:nth-child(3){
    transition: all 2.1s ease-in-out;
    transform: translateX(0);
    animation : allnewText 1.3s 1 2.15s forwards;
}

.allnew:nth-child(5){
    transition: all 2.1s ease-in-out;
    transform: translateX(0);
    animation : allnewText 1.3s 1 2.2s forwards;
}
.allnew:nth-child(6){
    transition: all 2.1s ease-in-out;
    transform: translateX(0);
    animation : allnewText 1.3s 1 2.24s forwards;
}
.allnew:nth-child(7){
    transition: all 2.1s ease-in-out;
    transform: translateX(0);
    animation : allnewText 1.3s 1 2.25s forwards;
}

.allnew:nth-child(9){
    transition: all 2.1s ease-in-out;
    transform: translateX(0);
    animation : allnewText 1.3s 1 2.3s forwards;
}
.allnew:nth-child(10){
    transition: all 2.1s ease-in-out;
    transform: translateX(0);
    animation : allnewText 1.3s 1 2.32s forwards;
}
.allnew:nth-child(11){
    transition: all 2.1s ease-in-out;
    transform: translateX(0);
    animation : allnewText 1.3s 1 2.33s forwards;
}
.allnew:nth-child(12){
    transition: all 2.1s ease-in-out;
    transform: translateX(0);
    animation : allnewText 1.3s 1 2.35s forwards;
}
.allnew:nth-child(13){
    transition: all 2.1s ease-in-out;
    transform: translateX(0);
    animation : allnewText 1.3s 1 2.4s forwards;
}
.allnew:nth-child(14){
    transition: all 2.1s ease-in-out;
    transform: translateX(0);
    animation : allnewText 1.3s 1 2.45s forwards;
}

/* 대학의 미래를 열다 */
.hallym{
    transform: translate(0, 0)
}
.hallym:nth-child(1){
    transition: 1.3s ease-in-out;
}
.hallym:nth-child(2){
    transition: all 1.5s ease-in-out;
}
.hallym:nth-child(3){
    transition: all 1.7s ease-in-out;
}
.hallym:nth-child(4){
    transition: all 1.9s ease-in-out;
}
.hallym:nth-child(5){
    transition: all 2.1s ease-in-out;
}
.hallym:nth-child(6){
    transition: all 2.3s ease-in-out;
}
.hallym:nth-child(7){
    transition: all 2.3s ease-in-out;
}
.hallym:nth-child(8){
    transition: all 2.3s ease-in-out;
}
.hallym:nth-child(9){
    transition: all 2.3s ease-in-out;
}
.hallym:nth-child(10){
    transition: all 2.3s ease-in-out;
}

.vertical-section{
    min-height: 1080px;
    height: 100vh;
}
.vertical_Text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.08vw;
    padding: 19.58vw 19vw 0 19vw;
}

.vertical-section h1{
    bottom: 0;
    font-family: IBM Plex Sans KR;
    font-size: 4.16vw;
    font-weight: 700;
    line-height: 4.79vw;
    text-align: center;
    color: #fff;

}
.vertical-section p{
    font-family: IBM Plex Sans KR;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1.66vw;
    text-align: center;
    color: #fff;
    
}
.vertical_Btn{
    padding: 4.16vw;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 33.95vw;
}
.main_Down_Btn_Wrap{
    width: 4.15vw;
    height: auto ;

}
.main_Down_Btn{
    background-image: url('../asset/MainIndex/Button/bottom_arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;;
}

@keyframes infinite-rotate {
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}
.main_Down_Btn img{
    width: 4.15vw;
    height: auto ;
    animation : infinite-rotate 10s infinite linear;
}

/* 인디케이터 */
.indicator-bar {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 1px;
    background-color: #6e6e6e;
    /* opacity: 0.2; */
    border-radius: 1px;
    overflow: hidden;
}

.indicator-progress {
    height: 100%;
    background-color: #fff;
    opacity: 1;
    width: 0%;
    transition: width 0.1s ease;
}

/*  */

.horizon_container{
    overflow-x: hidden;
    display: flex;
    position: sticky;
    top: 0;
}
.horizon_list{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.mainSection-2{
    width: 100%;
    background-image: url('../asset/background/MainSectionBottom.png');
    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-position: top;
}
.mainSectionContent-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.08vw;
    padding: 15.78vw;

}

.mainSectionContent-2 h2{
    font-family: "IBM Plex Sans KR", serif;
    font-weight: 700;
    font-size: 4.16vw;
    line-height: 4.7vw ;
    color: #fff;
}
.mainSectionContent-2 p{
    font-family: "Pretendard Variable";
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 1.6vw;
    color: #fff;
    text-align: center;
    padding: 0 250px;
    text-wrap: pretty;
    word-break: keep-all;
}
#fp-nav, .fp-controlArrow, .fp-watermark {
    display: none !important;
}

.fp-table{
    justify-content: flex-end !important;
}


.mainIndex-2 {
    position: relative;    
}
.mainIndex_w{
    background-color: #fff;
}
.mainIndex2_Wrap{
    display: flex;
    flex-shrink: 1;
    gap: 2.08vw;
}
.mainIndex-2 .mainIndexLeft img{
    width: 50vw;
    position: sticky;
    top:0;
    padding-bottom: 13vw;
}

.mainIndex-2 .mainIndexRight{
    min-height: 100vh;
    height: auto;
}
.mainIndexRight_btnWrap {
    width: 100%;
    margin-top: 4.16vw;
    position: relative;
}

.mainIndex-2 .mainIndexRight_btnWrap button{
    font-family: "Pretendard Variable";
    font-weight: 500;
    font-size: 1.25vw;
    line-height: 1.6vw;
    border: 1px solid #121212;
    padding: 0.41vw 1.04vw;
    position: absolute;
    left: 50%; transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 2;
}
.mainIndexRightTab {
    width: 45.83vw;
    padding: 6.25vw 5px 1.45vw 5px;
    background: #fff;
}
.mainIndexRight_imgWrapper{

    height: calc(600px+ auto); 
    display: flex;
    flex-direction: column;

}
.mainIndex-2 .mainIndexRight_imgWrap{
    padding: 2px;
    /* overflow: hidden;*/
    height: calc(600px+ auto); 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2.08vw;

}
.sticky_imgWrap_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.91vw; 
}
.sticky_imgWrap_column_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25vw; 
}


.sticky_img_group p {
    /* font-family: Pretendard; */
    font-size: 1.25vw;
    font-weight: 700;
    line-height: 1.66vw;
    text-align: left;

}

.sticky_img_wrap{
    width: 21.8vw;
    height: 21.8vw;
    overflow: hidden;
}
.sticky_img_group{
    display: flex;
    flex-direction: column;
    gap: 0.83vw;
}
.sticky_img_group img{
    width: 21.8vw;
}

.mainIndex_BgText{
    width: 100%;
    height: 25.67vw;
    position: absolute;
    bottom: -20vw;
    background-image: url("../asset/background/AllNewHallym.png");
    background-repeat: no-repeat;
    background-size: 100vw auto;
}
.mainIndex-3{
    margin-top: 9.375rem;
}

.mainIndex-3 h2 span{
    font-family: "Pretendard Variable";
    font-size: 3.33vw;
    font-weight: 700;
    line-height: 3.75vw;
    background: linear-gradient(to right top, #1C72F2, #10CEC5);
    color: transparent;
    background-clip: text;
}
.mainIndex-3 h2 {
    font-family: "Pretendard Variable";
    font-size: 3.33vw;
    font-weight: 700;
    line-height: 3.75vw;
    color: #121212;
    text-align: center; 
    margin-bottom: 4.16vw; 
}
.mainIndex_3_Head{
    position: relative;
}
/* button */
.carouselTop_Btn_Wrap{
    position: absolute;
    right: 6.25vw; top:4.16vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.top_Arrow{
    width: 3.33vw; height: 3.33vw;
    border-radius: 50%;
    display: flex; justify-content: center; align-items: center;
    box-shadow: 0px 4px 4px 0px #0000001F;

}
.top_Arrow img{
    width: 1.71vw;
    object-fit: contain;
}
.top_prevArrow{
    background-color: #fff;
}
.top_nextArrow{
    background-color: #00EBE0;
}

/* 캐러셀 부분은 css 파일 따로 */
.mainIndex-4, .mainIndex-5 {
    height: 100vh;
    overflow: hidden;
}
.mainIndex_VideoWrapper{
    width: 100%;
    height: 100%;
    position: relative;
}
.mainIndex_VideoWrap{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mainIndex_VideoWrap video{
    width: 100vw;
    height: 100vh;
    object-fit:cover;  
}
.mainIndex_VideoWrapper img{
    display: block;
    width: auto;
    height: 25vw;
    object-fit: contain;
    position: absolute;
    bottom: 3.125vw;
    right: 2vw;
    z-index: 3;
}

.mainIndex-6{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 6.14vw;
    padding: 7.8vw 6.25vw 2vw 6.25vw;
    width: 100%;
    height: auto;
    background-image: url("../asset/MainIndex/sns_section_bg.png");
    background-repeat:repeat;
    background-size: cover;
    position: relative;
}
.mainIndex_snsNav{
    width: 15.9vw;
    position: sticky;
    top: 7.8vw;
    padding-bottom: 300px;
}

.snsFlex_ColumnWrap{
    display: flex;
    flex-direction: row;
    gap: 2.8vw;
    margin-bottom: 7.8vw;
}
.snsFlex_RowWrap{
    display:flex;
    flex-direction: column;
    gap: 2.8vw;

}
.snsFlex_RowWrap .gridItem{
    width:20.41vw;
    height: 27vw;
    overflow: hidden;
}

.snsFlex_RowWrap img{
    width:20.41vw;
}

.gridItem_mt_40{
    padding-top: 2.98vw;
}
.gridItem_mt_160{
    margin-top: 8.33vw;
}


/* mobile */
@media (max-width: 768px){
    body{
        max-width: 768px;
    }
    .m_display{
        display: block;
    }
    .p_display{
        display: none;
    }
    .mainIndex-1{
        width: 100vw;
        height: 100vh;
    }
    .mainSection-1, .mainSection-2{
        overflow: hidden;
        width: 100%;
        background-size: cover;
        justify-content: flex-end !important;
        background-position: 100% 0%;
    }
    div.mainSectionBtnWrap{
        justify-content: flex-end;
        padding: 14.4vw 5.3vw;
        background-image: url('../asset/scrolldown_m.svg');
        background-repeat: no-repeat;
        background-position: 50% 90%;
    }
    .mainText_Top{

    }

    .mainSectionBtnWrap button:nth-child(1){
        display: none;
    }
    .mainSectionBtnWrap button:nth-child(2){
        background-image: none;
    }
    .mainSectionContent-2{
        padding: 5.3vw;
        gap: 3.2vw;
    }
    .mainSectionContent-2 h2{
        font-size: 7.46vw;
        line-height: 9.6vw ;
    }
    .mainSectionContent-2 p{
        padding: 0;
        font-size: 3.73vw;
        line-height: 5.8vw;
    }
    .mainSectionContent-2 img{
        margin-top: 5.2vw;
        width: 35.2vw;
    }
    .mainIndex2_Wrap{
        flex-direction: column;
        gap: 0;
    }
    .mainIndex-2 .mainIndexLeft img{
        width: 100%;  
        padding-bottom: 0;
    }
    .mainIndexRight{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-image: url('../asset/MainIndex/stickySection/tab_bg_m.png');
        background-position: 290% -5%;
        background-repeat: no-repeat;
        background-size: auto;
    }
    .mainIndexRightTab{
        width:89.33vw;
        background: #fff;
        padding: 10.66vw 0 5.3vw 0;
        top: -10vw;
    }
    .mainIndex-2 .mainIndexRight_imgWrap img{
        width:89.33vw;
        /* margin-left: 10.66vw; */

    }

    .mainIndex_BgText{
        display: none;
    }
    .m_display.mainIndexRight_btnWrap button{
        width: 89.33vw;
        padding: 3.2vw 32vw; 
        font-size: 3.73vw;
        line-height: 5.86vw;
        margin-top: 7.4vw;
        position: absolute;
        left: 50%; transform: translate(-50%, -50%);
    }


    .mainIndex-3{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mainIndex-3 h2 span{
        font-size: 7.46vw;
        line-height: 9.6vw;
    }
    .mainIndex-3 h2 {
        font-size: 7.46vw;
        line-height: 9.6vw;
        margin-bottom: 5.3vw;
    }
    .mainIndex_CarouselWrap_m{
        display: flex !important; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 64px;
        margin-bottom: 21.33vw;
    }
    .mainIndex_CarouselWrap_m img:nth-child(1){ 
        width: 89.33vw;
    }
    .mainIndex_CarouselWrap_m img:nth-child(2){ 
        width: 100vw;
    }
    
    .mainIndex-4, .mainIndex-5 {
        height: fit-content;
    }
    .mainIndex-4{
        margin-bottom: 10.66vw;
    }
    .mainIndex-5{
        margin-bottom: 21.33vw;
        
    }


    .mainIndex_VideoWrapper{
        width: 100%;
        height: auto;
        position: static;
    }
    .mainIndex_VideoWrap{
        position: static;
        width: 100%;
    }
    .mainIndex_VideoWrap video{
        height: 56vw;
    }
    .mainIndex_VideoWrapper img{
        object-fit: contain;
        width: 89.33vw;
        position: static;
        z-index: 3;
    }
    .mainIndex-6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0; 
        gap: 6.14vw;
        width: 100%;
        height: auto;
        background-image: none;
    }
    .mainIndex_snsNav{
        width: 100vw;
        position: sticky;
        top: -13vw;
        padding: 0 0 6.4vw 5.3vw;
        background: #fff;
    }
    .snsFlex_btnWrap button{
        font-family: "Pretendard Variable";
        font-weight: 500;
        width: 89.33vw;
        padding: 3.2vw 32vw; 
        font-size: 3.73vw;
        line-height: 5.86vw;
        margin-top: 7.4vw;
        border: 1px solid #121212;
    }
    .snsFlex_ColumnWrap img{
        width:89.33vw; 
    }
    
    /* 탭 스크롤 반응 */
    .tab-scroll-down {
        transform: translateY(-100%);
    }
    .tab-scroll-up{
        transform: translateY(0);
    }
}
