section.map_Wrapper{
    max-width: 100vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* overflow-y: hidden; */
    position: relative;
    overflow: hidden; /* 전체 스크롤 방지 */
}


.map_head{
    width: 100%;
    height: 4.16vw;
    /* background: rgb(28,114,242); */
    background: linear-gradient(125deg, rgba(28,114,242,1) 0%, rgba(16,206,197,1) 100%);
    padding: 1.25vw 0 1.25vw 1.04vw;
    position: fixed;
    z-index: 10;
}

.map_bottom{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.map_content{
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.map_aside_bar{
    margin-top: 4.16vw;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 19.22vw;
    pointer-events: auto;
    position: sticky; /* 스크롤에 따라 고정 */
    top: 4.16vw; /* 헤더 높이만큼 간격 */
    max-height: calc(100vh - 4.16vw); /* 헤더 제외 화면 높이 */
    overflow-y: auto; /* 세로 스크롤만 활성화 */
    -ms-overflow-style: none;
    z-index: 100;
}
.map_aside_bar::-webkit-scrollbar{
    display:none;
  }


.map_search_wrap{
    padding: 1.25vw 1.04vw;
}
.map_search_wrap img{
    width: 100%;
} 
.aside_btn_wrap{
    /* max-height: 85.59vh; */
    overflow: hidden;

}

.aside_btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625vw 1.04vw;
    border-top: 1px solid #ccc;
    gap: 1.04vw;
    background-color: #fff;
    color: #121212;
}
.aside_btn p{
    flex-grow: 1;
    text-align: left;
    font-family: "Pretendard Variable";
    font-weight: 500;
    color: #121212;
    font-size: 1.48vh;
    line-height: 1.25vw;


}

.map_img_wrap{
    /* max-height: 100vh; */
    position: relative;
    overflow: hidden;
}

.map_hover_wrap {
    /* border: 1px solid red; */
    position: absolute;
    /* z-index: 3; */
    left: 47.8rem;
    top: 6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.map_bg{
    height: 100vh;
}
.map_hover_img.hide{
    opacity: 0;
    visibility: hidden;
}
.map_tab{
    position: fixed;
    top: calc(1.04vw + 4.16vw ); left: calc(1.56vw + 18.22vw);
}


/* 팝업 */
.popup_wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    top: 50%; left: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_active img{
    width: 50vw;
    height: auto;
}
.popup_wrap.none{
    display : none; 
}