.searchWrap{
    width: 100vw;
    height: 100vh;
    background-color: #ECF1F4;
    overflow-x: hidden;
}
.searchWrap img.search{
    /* width: 74vw;/ */
    height: 45.52vw;
    display: block;
    margin: 0 auto;
    padding-top: 6vw;
}
.searchWrap .delete{
    position: fixed;
    right:6.25vw ; top: 1.35vw;
}